ul {
    list-style: none;
    padding: 0;
    width: 30%;
    margin: auto;
}

li {
    font-size: 1.3rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777;
    margin-bottom: 20px;
    color: grey;
}

li.NavLink {
    text-decoration: none;
}

li:hover {
    cursor: pointer;
    color: black;
}

.active-link {
    color: black;
    border-bottom: 1px solid bl;
}